body {
    margin: 0;
}

.contentDiv {
    width: 30rem;
    height: 30rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:hover {
    cursor: pointer;
}